@import "site_rules.scss";
//change is a marker used to note changes from site_rules

@media(min-width: 0px) and (max-width: 599px){
    .results{
        width: 400px; //change
        height: 500px;
        margin-left: 100px; //change
    
    }
    #app{
        grid-auto-rows: minmax(50px, 250px, 50px auto); //change
        /* grid-template-columns:  */
        width: 550px; //change
    }
    
    .holder{
        justify-content: center;
        margin-left: 100px; //change
        margin-right: 100px;
        width: 400px; //change
    }
            
}
@media(min-width: 600px) and (max-width: 1100px){   
    .results{
        width: 700px;
        height: 750px;
        margin-left: 150px;
        margin-right: 120px;
        font-size: 30px; 
    
    }
    #app{
        grid-auto-rows: 180px 180px 190px;
        /* grid-template-columns:  */
        justify-content: space-evenly;
        margin-left: 100px; //chnahe 
        font-size: 24px;
    }
    
    .holder{
        justify-content: center;
        border: 10px dashed orange;
        height: 200px;
        width:750px;
        margin-left: 100px; //change
        
        margin-right: 200px;
    }
    
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #headline {
        font-size: 100px;//changfe
        width: 1000px; //ch
        margin-right: 300px; //ch

        
        height: 300px;
    }
    
    
    input{
        height: 100px;
        width: 500px;
        font-size: 50px;
    }
    
    button{
        width: 750px; //ch
        height: 200px; //ch
        margin-right: 100px;
        font-size: 100px; //ch
    }
    
    
}    